@font-face {
  font-family: "PingFang SC";
  src: url("../fonts/PingFangSC/PingFangSCRegular.ttf");
}
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;400;500;600;700;800&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  font-family: "PingFang SC" !important;
  color: var(--primary-text-color);
}

:root {
  --primary-light: #dcf2ed;
  --primary-green: #b8e4da;
  --primary-blue: #004f80;
  --light-bg-color: #fafafa;
  --dark-bg-color: #002f4d;
  --primary-text-color: #0a0d0f;
  --primary-text-gray: #7891a1;
  --primary-text-gray60: #5e7787;
  --dark-text-color: #383b46;
  --light-blue: #008ee6;
}

body {
  background-color: var(--light-bg-color);
  margin: 0px;
}

.bg-primary-dark {
  background-color: var(--dark-bg-color) !important;
}

.btn {
  padding: 10px 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.btn-rounded {
  border-radius: 120px;
}

.btn-circle {
  width: 72px;
  height: 72px;
  padding: 0px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-icon {
  height: 56px;
  width: 200px;
  padding-inline: 25px;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-icon ion-icon {
  font-size: 20px;
}

.btn-light {
  color: var(--primary-text-color);
  background-color: #b3e2ff;
  /* box-shadow: 0 2px 0 rgb(3 49 61 / 33%); */
}
.btn-white {
  color: var(--primary-text-color);
  background-color: white;
  /* box-shadow: 0 2px 0 rgb(3 49 61 / 33%); */
}
.btn-blue {
  color: white;
  background-color: var(--primary-blue);
  /* box-shadow: 0 2px 0 rgb(3 49 61 / 33%); */
}
.btn-primary {
  color: white;
  background-color: var(--light-blue);
  /* box-shadow: 0 2px 0 rgb(3 49 61 / 33%); */
}

.form-control {
  padding: 24px 15px;
  border: 1px solid rgba(0, 0, 0, 0.19) !important;
  font-family: "PingFang SC";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 30px;
}

/* Navbar */
.navbar-dark .navbar-nav .nav-link {
  font-weight: 400;
  color: white;
}
.navbar-dark .navbar-nav .active > .nav-link {
  color: var(--light-blue);
  font-weight: 600;
}
.navbar .btn {
  width: 124px;
  padding-block: 10px;
  padding-inline: 20px;
}
/* End of Navbar */

/* Footer */
.footer {
  background: var(--dark-bg-color) !important;
  color: white;
}
.footer .container {
  padding-block: 50px;
}

.footer .footer-logo {
  width: 125px;
  margin-bottom: 30px;
}

.footer .footer-address p {
  color: var(--primary-text-gray);
}

.footer-link {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0px;
}
.footer-link h3 {
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.footer-link ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0px;
}
.footer-link ul li {
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.footer-link ul li a {
  color: var(--primary-text-gray);
}

.footer .copyright {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: var(--primary-light);
  padding-block: 12px;
  border-top: 1px solid rgba(184, 228, 218, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* End of Footer */

/* Main */
/* End of Main */

/* Section */
section {
  padding-block: 120px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
section .title {
  font-size: 48px;
  font-weight: bold;
  text-transform: capitalize;
}
section .description {
  font-size: 24px;
}

section.splide .splide__arrows {
  display: flex;
  justify-content: center;
  align-items: center;
}
section.splide .splide__arrows .splide__arrow.splide__arrow--prev,
section.splide .splide__arrows .splide__arrow.splide__arrow--next {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
section.splide .splide__arrows .splide__arrow {
  position: static;
  transform: none;
}

section.splide .splide-btn {
  font-size: 30px;
}
/* End Section */

/* Hero Section */
section#hero {
  position: relative;
}
section#hero h1.title {
  font-style: normal;
  font-size: 64px;
  line-height: 76px;
  text-transform: capitalize;
  color: #383b46;
}
section#hero h1 span {
  color: var(--light-blue) !important;
}
section#hero p.description {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}

section#hero .banner-container {
  position: relative;
}
section#hero .backdrop {
  position: absolute;
  width: 100%;
  height: 860px;
  right: 0;
  top: -120px;

  background: linear-gradient(216.04deg, #0071b9 13.84%, #002f4d 83.53%);
  border-radius: 0px 0px 0px 170px;

  z-index: 0;
}

section#hero .banner-container .container {
  position: relative;
  z-index: 10;
}
section#hero .banner-container .container img {
  position: relative;
}
section#hero .banner-container .container img:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: red;
  filter: blur(103.353px);
}
/* End of Hero Section */

/* Clients Section */
section#clients {
  padding-block: 50px;
}

section#clients h2.title {
  margin-block: 20px;
  font-size: 24px;
}

section#clients .client {
  align-self: center;
  width: 90%;
  height: 56px;
  margin: auto;
  background-color: #acacac;
}
/* End of Clients Section */

/* Features Section */
section#features {
}
section#features .title {
  font-size: 32px;
}

section#features .image-container {
  position: relative;
  width: 550px;
  aspect-ratio: 1;
  border-radius: 220px;
  background: var(--primary-light);
  margin: auto;
}
section#features .image-container .stat {
  position: absolute;
  width: 265px;
  height: 75px;
  background: var(--dark-bg-color);
  box-shadow: 0px 2.44685px 24.4685px rgb(138 138 138 / 4%);
  border-radius: 7px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-inline: 20px;
}
section#features .image-container .stat .stat-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--primary-light);
  border-radius: 40px;
  margin-right: 10px;
}
section#features .image-container .stat .stat-icon ion-icon {
  color: var(--light-blue);
}
section#features .image-container .stat:first-child {
  top: 50px;
  right: -50px;
  color: white;
}
section#features .image-container .stat:last-child {
  background: white;
  bottom: 50px;
  left: -50px;
}
section#features .features-continer {
  margin-block: 40px;
}
section#features .feature {
  padding: 10px;
  margin-bottom: 20px;
}
section#features .feature .feature-icon {
  width: 44px;
  height: 44px;
  background: var(--primary-light);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
section#features .feature .feature-icon .info-icon {
  color: var(--primary-text-color);
}
section#features .feature .feature-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 15px;
  color: var(--dark-text-color);
}
section#features .feature .feature-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--dark-text-color);
}
/* End of Features Section */

/* Goals Section */
section#goals {
  background: white;
}
section#goals .title {
  color: var(--primary-text-gray);
}
section#goals .title span {
  color: var(--primary-text-color);
}
section#goals .goal {
  padding: 10px;
}
section#goals .goal .goal-image {
  margin: auto;
  width: 200px;
  height: 300px;
  border-radius: 800px;
  background-color: var(--primary-light);
  margin-bottom: 10px;
}
section#goals .goal .goal-title {
  font-weight: bold;
  margin-block: 20px;
}
/* End of Goals Section */

/* Members Section */
section#members {
  background: white;
}
section#members .title {
  font-size: 32px;
}
section#members .member {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
section#members .member:nth-child(even) {
  flex-direction: row-reverse;
}
section#members .member .member-avatar {
  background-color: var(--primary-light);
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-inline: 20px;
  border: 2px solid var(--light-blue);
  flex: 1;
}
section#members .member p.member-comment {
  background-color: white;
  box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
  border-radius: 26.5px;
  padding: 15px;
  font-size: 14px;
  margin: 0px;
  flex: 3;
}
/* End of Members Section */

/* Public Work Section */
section#public-work {
  text-align: center;
}

section#public-work .work {
  padding: 20px;
  background: white;
  border-radius: 24px;
  text-align: center;
}
section#public-work .work .work-image {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #ff7117;
  margin: auto;
  margin-bottom: 30px;
}
section#public-work .work .work-title {
  font-size: 18px;
  font-weight: bold;
}
section#public-work .work .work-title {
  font-size: 16px;
}
/* End of Public Work Section */

/* Customers Section */
section#customers {
  background-color: var(--dark-bg-color);
}

section#customers .title {
  font-size: 32px;
}

section#customers .title,
section#customers .description {
  color: white;
}
section#customers .customers-btn {
  font-size: 30px;
}
section#customers .customer {
  position: relative;
  padding: 40px 30px;
  background: white;
  border-radius: 24px;
  margin: 20px;
}
section#customers .customer .customer-icon {
  margin-bottom: 20px;
}
section#customers .customer .customer-comment {
  font-size: 24px;
  margin-bottom: 40px;
}
section#customers .customer .customer-name {
  font-size: 18px;
  font-weight: bold;
}
section#customers .customer .customer-designation {
  font-size: 16px;
}
/* End of Customers Section */

/* Change Section */
section#change {
  background-blend-mode: screen !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
  background-position: center !important;
  background-size: cover !important;
}
section#change .container .get-started {
  margin-top: 100px;
}
/* End of Change Section */

/* Contact Section */
section#contact {
}
section#contact .title {
  font-size: 32px;
}
section#contact .description {
  font-size: 20px;
}
section#contact .info-container {
  margin-bottom: 20px;
}
section#contact .contact-info-container {
  background-color: white;
  border-radius: 16px;
  padding: 30px;
}
section#contact .contact-info-container .info {
  display: flex;
  justify-content: space-between;
}
section#contact .contact-info-container .info .info-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--dark-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}
section#contact .contact-info-container .info .info-icon ion-icon {
  color: white;
  font-size: 24px;
}
section#contact .contact-info-container .info .info-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}
section#contact
  .contact-info-container
  .info
  .info-content
  h4.info-content-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}
section#contact
  .contact-info-container
  .info
  .info-content
  p.info-content-description {
  font-size: 16px;
}
section#contact .contact-form {
  background-color: white;
  box-shadow: 0px 5px 24px rgba(120, 118, 148, 0.15);

  border-radius: 16px;
  padding: 40px;
}
/* End of Contact Section */

/* Product Hero Section */
section#product-hero {
  height: calc(100vh - 60px);
  padding-block: 0px;
}
section#product-hero .container {
  height: 800px;
}
section#product-hero h1.title {
  font-weight: normal;
}
section#product-hero h1.title span {
  font-weight: bold;
}
section#product-hero p.description {
  font-weight: bold;
}

section#product-hero .backdrop {
  position: absolute;
  width: 50%;
  height: 100vh;
  right: 0;
  top: -120px;
  border-radius: 0px 0px 0px 170px;
  background-blend-mode: screen !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  z-index: 0;
}
section#product-hero .container {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* End of Product Hero Section */

/* Product Features Section */
section#product-features {
}
section#product-features .feature {
  margin-block: 120px;
}
section#product-features .feature .feature-image-container {
  padding: 10px;
}
section#product-features .feature .feature-image-container .feature-image {
  background: var(--primary-text-gray);
  border-radius: 20px;
  height: 50vh;
}
section#product-features .feature .feature-content {
  padding-top: 80px;
}
section#product-features .feature h3.feature-title {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 30px;
}
section#product-features .feature p.feature-description {
  font-size: 24px;
}
/* End of Product Features Section */

/* Feature Blocks Section */
section#feature-blocks {
}
section#feature-blocks h1.title {
  font-size: 32px;
  margin-bottom: 20px;
}
section#feature-blocks p.description {
  margin-bottom: 40px;
}
section#feature-blocks .feature-block {
  padding: 20px;
  background: white;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

section#feature-blocks .feature-block .feature-block-icon {
  width: 56px;
  height: 56px;
  border-radius: 12px;
  background: var(--primary-green);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
section#feature-blocks .feature-block h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}
section#feature-blocks .feature-block p {
  font-size: 16px;
  text-align: center;
}
/* End of Feature Blocks Section */

/* About Hero Section */
section#about-hero {
  padding-block: 200px;
  background-blend-mode: overlay !important;
  background-repeat: no-repeat !important;
  background-position: 0% 35% !important;
  background-size: cover !important;
}

section#about-hero h1.title {
  color: white;
  font-weight: normal;
}

section#about-hero h1.title span {
  font-weight: bold;
}
section#about-hero p.description {
  color: white;
}
/* End of About Hero Section */

/* About Mission Section */
section#about-mission {
}
section#about-mission .container .row {
  margin-bottom: 30px;
}
section#about-mission h1.title {
  font-size: 32px;
}
section#about-mission h2.subtitle {
  font-size: 24px;
  font-weight: bold;
}
section#about-mission h2.description {
  font-size: 24px;
}
section#about-mission .content-container {
  margin-bottom: 30px;
}
/* End of About Mission Section */

/* About Our Mission Section */
section#about-our-mission {
}
section#about-our-mission h1.title {
  font-size: 56px;
  margin-bottom: 50px;
}
section#about-our-mission p.description {
  font-size: 48px;
  font-weight: bold;
  color: var(--primary-text-gray);
}
section#about-our-mission p.description span {
  color: var(--primary-text-color);
}
/* End of About Our Mission Section */

/* About Founders Section */
section#about-founders {
  background: white;
}
section#about-founders h1.title {
  font-size: 48px;
}
section#about-founders .founder {
  text-align: center;
  padding: 10px;
  border-radius: 22px;
}
section#about-founders .founder:hover {
  background: var(--dark-bg-color);
}
section#about-founders .founder .founder-image {
  height: 350px;
  background: #004f80;
  border-radius: 22px;
  margin-bottom: 20px;
  overflow: hidden;
  transition: all 0.25s;
}
section#about-founders .founder .founder-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section#about-founders .founder:hover .founder-image {
  height: 270px;
  transition: all 0.25s;
}
section#about-founders .founder .founder-title {
  font-weight: bold;
  font-size: 24px;
  transition: all 0.25s;
}
section#about-founders .founder .founder-designation {
  font-size: 18px;
  margin-bottom: 10px;
  transition: all 0.25s;
}
section#about-founders .founder .founder-nationality {
  font-size: 16px;
  transition: all 0.25s;
}
section#about-founders .founder:hover .founder-title,
section#about-founders .founder:hover .founder-nationality,
section#about-founders .founder:hover .founder-designation {
  color: white;
  transition: all 0.25s;
}
section#about-founders .founder .founder-socialmedia {
  display: hidden;
  opacity: 0;
  margin-block: 10px;
  transition: all 0.25s;
}
section#about-founders .founder .founder-socialmedia ion-icon {
  color: white;
}
section#about-founders .founder .founder-socialmedia ion-icon:not(:last-child) {
  margin-right: 10px;
}
section#about-founders .founder .founder-description {
  display: hidden;
  opacity: 0;
  font-size: 20px;
  color: white;
  transition: all 0.25s;
}
section#about-founders .founder:hover .founder-title,
section#about-founders .founder:hover .founder-socialmedia,
section#about-founders .founder:hover .founder-description {
  display: block;
  opacity: 1;
  transition: all 0.25s;
}
/* End of About Founders Section */

/* About Team Section */
section#about-team {
}

section#about-team h1.title {
  font-size: 48px;
  margin-bottom: 30px;
}

section#about-team .splide {
  width: 100%;
}

section#about-team .member {
  width: 250px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: auto;
}
section#about-team .member .member-image {
  position: relative;
  width: 168px;
  height: 168px;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--primary-blue);
  margin-bottom: 30px;
  transition: all 0.25s;
}
section#about-team .member .member-image .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    348.37deg,
    #3c64b1 17.97%,
    rgba(255, 255, 255, 0) 79.2%
  );
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  padding: 20px 40px;
  opacity: 0;
  transition: all 0.25s;
}
section#about-team .splide li.is-active .member .member-image .overlay {
  opacity: 1;
  transition: all 0.25s;
}

section#about-team .member .member-image .overlay a {
  color: white;
  font-size: 16px;
}

section#about-team .member .member-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section#about-team .splide li.splide__slide--clone .member .member-image {
  background-color: var(--primary-green);
  transition: all 0.25s;
}
section#about-team .member .member-title {
  font-size: 24px;
  font-weight: bold;
}
section#about-team .member .member-designation {
  font-size: 16px;
  color: var(--primary-text-gray);
}
/* End of About Team Section */

/* About Projects Section */
section#about-projects {
  background-color: var(--dark-bg-color);
}

section#about-projects .row {
  margin-bottom: 40px;
}

section#about-projects .title {
  font-size: 32px;
  color: white;
}

section#about-projects .project {
  position: relative;
  width: 80%;
  padding: 40px 30px;
  background: white;
  border-radius: 24px;
  margin: auto;
}
section#about-projects .project .project-icon {
  margin-bottom: 20px;
  width: 72px;
  height: 72px;
  border-radius: 10px;
  background: var(--primary-green);
}
section#about-projects .project h1.project-fund {
  font-weight: bold;
  font-size: 24px;
}
section#about-projects .project p.project-description {
  font-size: 16px;
  margin-bottom: 40px;
}
section#about-projects .project p.project-message {
  font-size: 14px;
  margin-bottom: 0px;
}
/* End of Projects Section */

/* Foundation Hero Section */
section#foundation-hero {
  height: calc(100vh - 60px);
  padding-block: 0px;
}
section#foundation-hero .container {
  height: 800px;
}
section#foundation-hero h1.title {
  font-weight: normal;
}
section#foundation-hero h1.title span {
  font-weight: bold;
}
section#foundation-hero p.description {
  font-weight: bold;
}

section#foundation-hero .backdrop {
  position: absolute;
  width: 50%;
  height: 100vh;
  right: 0;
  top: -120px;
  border-radius: 0px 0px 0px 170px;
  background-blend-mode: screen !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  z-index: 0;
}
section#foundation-hero .container {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* End of Foundation Hero Section */

/* Foundation Approach Section */
section#foundation-approach {
  background: var(--light-bg-color);
}
section#foundation-approach .approach {
  padding: 20px;
  background: white;
  border-radius: 24px;
  text-align: center;
}
section#foundation-approach .approach .approach-image {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #ff7117;
  margin: auto;
  margin-bottom: 30px;
}
section#foundation-approach .approach .approach-title {
  font-size: 18px;
  font-weight: bold;
}
section#foundation-approach .approach .approach-title {
  font-size: 16px;
}
/* End of Foundation Approach Section */

/* Foundation Organizations Section */
section#foundation-organizations {
  background-color: var(--dark-bg-color);
}
section#foundation-organizations .row {
  margin-bottom: 30px;
}
section#foundation-organizations h1.title {
  color: white;
}
section#foundation-organizations .organization {
  background-color: white;
  width: 90%;
  padding: 24px;
  border-radius: 8px;
  margin: auto;
  margin-bottom: 20px;
}
section#foundation-organizations .organization .organization-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
section#foundation-organizations .organization .organization-icon {
  width: 50px;
  height: 50px;
  border: 1px solid var(--primary-green);
  border-radius: 8px;
  margin-right: 10px;
}
section#foundation-organizations .organization .organization-title {
  font-size: 20px;
  font-weight: 600;
  margin: 0px;
}
section#foundation-organizations .organization .organization-type-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-block: 10px;
}
section#foundation-organizations .organization .organization-type {
  background: var(--light-bg-color);
  border-radius: 48px;
  padding: 4px 8px;
  font-size: 10px;
  font-weight: 600;
  color: var(--primary-text-gray);
}
section#foundation-organizations .organization .organization-description {
  font-size: 16px;
  color: var(--primary-text-gray60);
}
/* End of Foundation Organizations Section */

/* Blogs Hero Section */
section#blogs-hero {
  position: relative;
  overflow: visible;
  height: 500px;
}
section#blogs-hero .container {
  margin: auto;
}
section#blogs-hero .banner {
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  height: 700px;
  background-blend-mode: screen !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  z-index: 0;
}
/* End of Blogs Hero Section*/

/* Blogs */
section#blogs {
}

section#blogs .blog {
  background: white;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 50px;
  box-shadow: 0px 20px 50px rgba(18, 17, 39, 0.08);
}
section#blogs .blog .blog-thumnail-container {
  position: relative;
  width: 100%;
  height: 215px;
}
section#blogs .blog .blog-thumnail {
  object-fit: cover;
}
section#blogs .blog .blog-thumnail-container .blog-category {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: var(--light-bg-color);
  color: var(--primary-text-gray);
  font-weight: 500;
  font-size: 16px;
  padding: 5px 10px;
  text-align: center;
  border-radius: 50px;
}

section#blogs .blog .blog-body {
  padding: 24px;
}

section#blogs .blog .blog-title {
  font-weight: 600;
  font-size: 24px;
}
section#blogs .blog .blog-content {
  font-weight: 400;
  font-size: 16px;
}
section#blogs .blog .blog-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section#blogs .blog-author {
  display: flex;
  justify-content: center;
  align-content: center;
}
section#blogs .blog-author .blog-author-image {
  border-radius: 50%;
  margin-right: 10px;
}
section#blogs .blog-author .blog-author-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
section#blogs .blog-author .blog-author-name {
  font-weight: 500px;
  font-size: 16px;
}
section#blogs .blog-author .blog-author-date {
  font-weight: 500px;
  font-size: 16px;
  color: var(--primary-text-gray);
}
section#blogs .blog-readmore {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
}

/* End of Blogs */

/* Bootstrap Media Queries */
@media (min-width: 576px) {
  section#hero .hero-container {
    padding-inline: 0px;
  }
}
@media (min-width: 768px) {
  section#hero .hero-container {
    padding-inline: 0px;
  }
}
@media (max-width: 992px) {
  section#hero .row .banner-container {
    display: none;
  }
  section#hero .row {
    flex-wrap: wrap-reverse;
  }
  section#hero .backdrop {
    display: none;
  }
  section#features .row {
    flex-wrap: wrap-reverse;
  }

  section#product-features .feature .feature-content {
    padding-top: 40px;
  }
}
@media (min-width: 992px) {
  section#hero .hero-container {
    padding-inline: 25px;
  }
}
@media (min-width: 1387px) {
  section#hero .hero-container {
    padding-inline: 43px;
  }
}
@media (min-width: 1460px) {
  section#hero .hero-container {
    padding-inline: 130px;
  }
}
@media (min-width: 1654px) {
  section#hero .hero-container {
    padding-inline: 150px;
  }
}
/* End of Bootstrap Media Queries */
